* {
  box-sizing: border-box;
}
body {
  background-image: url("../Pictures/background_img_violet.jpg");
  background-position: bottom;
}
.container {
  border: 1px solid gray;
  width: 70rem;
  margin: auto;
  padding: 25px;
  background-color: #e6e6e6;
  font-family: "Poor Story", sans-serif;
  display: flex;
  flex-direction: column;
}
.header {
  height: 23rem;
  /* text-align: center; */
  font-size: 4rem;
  font-weight: bolder;
  padding-top: 8.5rem;
  padding-left: 8rem;
  border: 1px solid gray;
  background-image: url('../Pictures/title_background.jpg');
  background-size: cover;
}
.top_nav {
  overflow: hidden;
  background-color: #333;
  margin: 2px;
  padding: 0px;
  display: flex;
  flex-wrap: wrap;
}
.top_nav li, ul{
  display: flex;
  margin: 0px;
  padding: 0px;
}
.top_nav a {
  display: block;
  color: #f2f2f2;
  text-align: center;
  font-size: 1.2rem;
  padding: 10px 16px;
  text-decoration: none;
  height: 3rem;
  /* border: 2px solid red; */
}
.top_nav a:hover {
  background-color: #808080;
}
.top_nav img {
  align-items: stretch;
}
#top_nav_right {
  margin-left: auto;
}
.contents {
  display: flex;
}
.navigation {
  height: 20rem;
  padding: 0px;
  border: 2px solid red;
  top: 0px;
  right:auto;
  /* display: block; */
  display: flex;
  flex-basis: 13rem;
  flex-shrink: 0;
  flex-grow: 0;
  margin-left: 1rem;
  margin-right: 1rem;
}
.navigation a {
  text-decoration: none;
  font-size: 1.2rem;
  color: black;
}
.navigation a:hover {
  font-weight: bolder;
}
.navigation li {
  margin-bottom: .5rem;
}
.main {
  border: 1px solid gray;
  padding: 20px;
  /* margin-left: 20%; */
  display: flex;
  flex-direction: column;
  font-family: 'Nanum Gothic', sans-serif;
}
.article {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 5rem;
}
.footer {
  text-align: center;
  margin-top: auto;
  padding: 10px;
  clear: both;
  border-top: 1px solid gray;
}
